# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Jsonifier-Itoa/FileContentIndex/1eaf17d6-8b7b-45c4-bfdf-fa201f0999e1.vsidx
.vs/
out/
CMake/Build